.bodyPage {
    margin-left: 50px;
    /* background-color: orange; */
}

.info {
    display: flex;
    /* margin-right: 32px; */
}

.info div {
    margin-right: 32px;
}

.ava img {
    height: 300px;
    width: 200px;
}

.ava {
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
}

@media (min-width: 0px) and (max-width: 999px) {
    .bodyPage {
        position: fixed;
        left: -40px;
        top: 150px;
        background-color: orange;
        width: 97%;
    }
}
