.bodyPage {
    margin-left: 50px;
}

.info {
    display: flex;
    /* margin-right: 32px; */
}

.info div {
    margin-right: 32px;
}

.ava img {
    height: 300px;
    width: 200px;
}

.ava {
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
}
