.commonBlock {
    display: flex;
    padding: 12px 15px;
}

.centerBlock {
    display: flex;
    margin-left: 15%;
    margin-right: auto;
}

.centerBlock div {
    margin-left: 60px;
}

.rightBlock {
    display: flex;
    margin-left: auto;
}

.activeLink {
    color: #ff6f61;
    pointer-events: none;
}
