.commonBlock {
    background-color: rgb(245, 227, 196);
    display: flex;
    padding: 12px 15px;
    border-bottom: 0.1px solid gray;
}

.rightBlock {
    display: flex;
    margin-left: auto;
}

.rightBlock div {
    margin-left: 50px;
}
